<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moodrain Http Client</title>
    <link rel="stylesheet" href="https://s1.moodrain.cn/lib/element-ui/index.css">
    <link rel="stylesheet" href="https://s1.moodrain.cn/lib/highlight/androidstudio.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="app">
        <div class="container">

            <div class="container-item" v-show="show.container == 'requestBox'">
                <el-form label-width="100px">
                    <el-form-item label="URL">
                        <el-input v-model="form.url" class="form-input"></el-input>
                    </el-form-item>
                    <el-form-item label="Method">
                        <el-select v-model="form.method">
                            <el-option value="GET">GET</el-option>
                            <el-option value="POST">POST</el-option>
                            <el-option value="DELETE">DELETE</el-option>
                            <el-option value="PUT">PUT</el-option>
                            <el-option value="PATCH">PATCH</el-option>
                            <el-option value="HEAD">HEAD</el-option>
                            <el-option value="OPTIONS">OPTIONS</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="ContentType" v-if="form.method == 'POST' || form.method == 'PUT' || form.method == 'PATCH'">
                        <el-select v-model="form.contentType">
                            <el-option value="application/json">application/json</el-option>
                            <el-option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</el-option>
                            <el-option value="multipart/form-data">multipart/form-data</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Header">
                        <el-form>
                            <el-form-item v-for="(input, index) in form.headerInputs" :key="index">
                                <el-input @change="addFieldInput('headerInputs', index, input.name)" class="form-body-item-name" v-model="input.name" style="margin-right: 2%"></el-input>
                                <el-input class="form-body-item-value" v-model="input.value"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-form-item>
                    <el-form-item label="Cookie">
                        <el-form>
                            <el-form-item v-for="(input, index) in form.cookieInputs" :key="index">
                                <el-input @change="addFieldInput('cookieInputs', index, input.name)" class="form-body-item-name" v-model="input.name" style="margin-right: 2%"></el-input>
                                <el-input class="form-body-item-value" v-model="input.value"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-form-item>
                    <el-form-item label="Body">
                        <el-radio v-model="form.bodyInputType" label="input" @change="bodyInputTypeChange">Form Input</el-radio>
                        <el-radio v-model="form.bodyInputType" label="text" @change="bodyInputTypeChange">Textarea</el-radio>
                        <br />
                        <el-input v-if="form.bodyInputType == 'text'" v-model="form.bodyText" type="textarea" class="form-input" rows="6"></el-input>
                        <el-form v-if="form.bodyInputType == 'input'">
                            <el-form-item v-for="(input, index) in form.bodyInputs" :key="index">
                                <el-input @change="addFieldInput('bodyInputs', index, input.name)" class="form-body-item-name" v-model="input.name" style="margin-right: 2%"></el-input>
                                <el-input class="form-body-item-value" v-model="input.value"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="submit" :disabled="sendingReq">Submit</el-button>
                        <el-button @click="doSave">Save</el-button>
                        <el-button @click="show.container = 'toolBox'">Toolbox</el-button>
                    </el-form-item>
                </el-form>
            </div>

            <div class="container-item" v-show="show.container == 'toolBox'">
                <el-button icon="el-icon-back" @click="show.container = 'requestBox'"></el-button>
                <el-divider></el-divider>
                <el-button @click="show.container = 'export'">Export</el-button>
                <el-button @click="show.container = 'import'">Import</el-button>
                <el-divider></el-divider>
                <el-button @click="toHistory">History</el-button>
                <el-button @click="toSaved">Saved</el-button>
            </div>

            <div class="container-item" v-show="show.container == 'export'">
                <el-button icon="el-icon-back" @click="show.container = 'toolBox'"></el-button>
                <el-divider></el-divider>
                <el-input type="textarea" :value="genExport()" :rows="16"></el-input>
            </div>

            <div class="container-item" v-show="show.container == 'import'">
                <el-button icon="el-icon-back" @click="show.container = 'toolBox'"></el-button>
                <el-divider></el-divider>
                <el-input type="textarea" v-model="toImport" :rows="16"></el-input>
                <br /><br />
                <el-button @click="doImport">Import</el-button>
            </div>

            <div class="container-item" v-show="show.container == 'history'">
                <el-button icon="el-icon-back" @click="backToolBox"></el-button>
                <el-divider></el-divider>
                <el-collapse v-for="(record, index) in history" :key="record.id" v-model="recordOpen.history[index]">
                    <el-collapse-item :title="record.time + ' | ' + record.method + ' | ' + record.url">
                        <pre v-if="typeof record.body == 'object' && Object.keys(record.body).length != 0"><code class="lang-json">{{ JSON.stringify(record.body, '', 2) }}</code></pre>
                        <pre v-if="typeof record.body == 'string' && record.body != ''"><code class="lang-html">{{ record.body }}</code></pre>
                        <el-divider></el-divider>
                        <el-button icon="el-icon-search" @click="showResponse(record)"></el-button>
                        <el-button icon="el-icon-refresh-left" @click="importRecord(record)"></el-button>
                        <el-button icon="el-icon-delete" @click="rmRecord('history', index)"></el-button>
                    </el-collapse-item>
                </el-collapse>
            </div>

            <div class="container-item" v-show="show.container == 'saved'">
                <el-button icon="el-icon-back" @click="backToolBox"></el-button>
                <el-divider></el-divider>
                <el-collapse v-for="(record, index) in saved" :key="record.id" v-model="recordOpen.saved[index]">
                    <el-collapse-item :title="record.name + ' | ' + record.method + ' | ' + record.url">
                        <pre v-if="typeof record.body == 'object' && Object.keys(record.body).length != 0"><code>{{ JSON.stringify(record.body, '', 2) }}</code></pre>
                        <pre v-if="typeof record.body == 'string' && record.body != ''"><code>{{ record.body }}</code></pre>
                        <el-divider></el-divider>
                        <el-button icon="el-icon-search" @click="showResponse(record)"></el-button>
                        <el-button icon="el-icon-refresh-left" @click="importRecord(record)"></el-button>
                        <el-button icon="el-icon-edit" @click="renameSaved(index)"></el-button>
                        <el-button icon="el-icon-arrow-up" @click="moveSaved(index, -1)"></el-button>
                        <el-button icon="el-icon-arrow-down" @click="moveSaved(index, 1)"></el-button>
                        <el-button icon="el-icon-delete" @click="rmRecord('saved', index)"></el-button>
                    </el-collapse-item>
                </el-collapse>
            </div>
            
            <div class="container-item" style="padding-top: 0;">
                <div v-show="show.response">
                    <el-divider content-position="left">Response</el-divider>
                    <el-tabs v-model="activeResponseTab">
                        <el-tab-pane label="Body" name="body">
                            <div id="rs-show-body"></div>
                        </el-tab-pane>
                        <el-tab-pane label="Header" name="header">
                            <div id="rs-show-header"></div>
                        </el-tab-pane>
                        <el-tab-pane label="Cookie" name="cookie">
                            <div id="rs-show-cookie"></div>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </div>

        </div>
    </div>
    <script src="https://s1.moodrain.cn/lib/vue/index.js"></script>
    <script src="https://s1.moodrain.cn/lib/element-ui/index.js"></script>
    <script src="https://s1.moodrain.cn/lib/highlight/index.js"></script>
    <script src="index.js"></script>
</body>

</html>