* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.container-item {
    margin: 0 auto;
    padding-top: 5%;
}

@media (min-width: 500px) {
    .container-item {
        width: 40%;
    }
    .form-input {
        width: 80%;
    }
    .form-body-item-name {
        width: 20%;
        margin-bottom: 1%;
    }
    .form-body-item-value {
        width: 57%;
        margin-bottom: 1%;
    }
}

@media (max-width: 500px) {
    .container-item {
        width: 96%;
    }
    .form-input {
        width: 88%;
    }
    .form-body-item {
        width: 42%;
        margin-bottom: 1%;
    }
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}