<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moodrain Http Client</title>
    <link href="https://s1.moodrain.cn/lib/element-ui/index.css" rel="stylesheet">
    <link href="https://s1.moodrain.cn/lib/highlight/androidstudio.css" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        html,
        body,
        #app {
            width: 100%;
            height: 100%;
        }
        
        .req-container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        @media (min-width: 500px) {
            .req-box {
                width: 40%;
                height: 80%;
            }
            .form-input {
                width: 80%;
            }
            .form-body-item-name {
                width: 20%;
                margin-bottom: 1%;
            }
            .form-body-item-value {
                width: 57%;
                margin-bottom: 1%;
            }
        }
        
        @media (max-width: 400px) {
            .req-box {
                width: 96%;
                height: 96%;
            }
            .form-input {
                width: 88%;
            }
            .form-body-item {
                width: 42%;
                margin-bottom: 1%;
            }
        }
        
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="req-container">
            <div class="req-box">
                <el-form label-width="100px">
                    <el-form-item label="URL">
                        <el-input v-model="form.url" class="form-input"></el-input>
                    </el-form-item>
                    <el-form-item label="Method">
                        <el-select v-model="form.method">
                            <el-option value="GET">GET</el-option>
                            <el-option value="POST">POST</el-option>
                            <el-option value="DELETE">DELETE</el-option>
                            <el-option value="PUT">PUT</el-option>
                            <el-option value="PATCH">PATCH</el-option>
                            <el-option value="HEAD">HEAD</el-option>
                            <el-option value="OPTIONS">OPTIONS</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="ContentType" v-if="form.method == 'POST' || form.method == 'PUT' || form.method == 'PATCH'">
                        <el-select v-model="form.contentType">
                            <el-option value="application/json">application/json</el-option>
                            <el-option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</el-option>
                            <el-option value="multipart/form-data">multipart/form-data</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Header">
                        <el-form>
                            <el-form-item v-for="(input, index) in form.headerInputs" :key="index">
                                <el-input @change="addHeaderInput(index, input.name)" class="form-body-item-name" v-model="input.name" style="margin-right: 2%"></el-input>
                                <el-input class="form-body-item-value" v-model="input.value"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-form-item>
                    <el-form-item label="Cookie">
                        <el-form>
                            <el-form-item v-for="(input, index) in form.cookieInputs" :key="index">
                                <el-input @change="addCookieInput(index, input.name)" class="form-body-item-name" v-model="input.name" style="margin-right: 2%"></el-input>
                                <el-input class="form-body-item-value" v-model="input.value"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-form-item>
                    <el-form-item label="Body">
                        <el-radio v-model="form.bodyInputType" label="input">Form Input</el-radio>
                        <el-radio v-model="form.bodyInputType" label="text">Textarea</el-radio>
                        <br />
                        <el-input v-if="form.bodyInputType == 'text'" v-model="form.bodyText" type="textarea" class="form-input" rows="6"></el-input>
                        <el-form v-if="form.bodyInputType == 'input'">
                            <el-form-item v-for="(input, index) in form.bodyInputs" :key="index">
                                <el-input @change="addBodyInput(index, input.name)" class="form-body-item-name" v-model="input.name" style="margin-right: 2%"></el-input>
                                <el-input class="form-body-item-value" v-model="input.value"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="submit">Submit</el-button>
                    </el-form-item>
                </el-form>
                <div v-show="response.body">
                    <el-divider content-position="left">Response</el-divider>
                    <el-tabs v-model="activeResponseTab">
                        <el-tab-pane label="Body" name="body">
                            <div id="rs-show-body"></div>
                        </el-tab-pane>
                        <el-tab-pane label="Header" name="header">
                            <div id="rs-show-header"></div>
                        </el-tab-pane>
                        <el-tab-pane label="Cookie" name="cookie">
                            <div id="rs-show-cookie"></div>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </div>
        </div>
    </div>
    <script src="https://s1.moodrain.cn/lib/vue/index.js"></script>
    <script src="https://s1.moodrain.cn/lib/element-ui/index.js"></script>
    <script src="https://s1.moodrain.cn/lib/highlight/index.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    form: {
                        url: '',
                        method: 'GET',
                        contentType: 'application/json',
                        bodyInputType: 'input',
                        bodyText: '',
                        bodyInputs: [{
                            name: '',
                            value: ''
                        }],
                        headerInputs: [{
                            name: '',
                            value: ''
                        }],
                        cookieInputs: [{
                            name: '',
                            value: ''
                        }],
                    },
                    response: {
                        header: [],
                        cookie: [],
                        body: '',
                    },
                    activeResponseTab: 'body',
                }
            },
            methods: {
                submit() {
                    if (!this.form.url) {
                        this.$notify.warning('Empty URL')
                        return
                    }
                    this.send(this.form2Request())
                },
                form2Request() {
                    let method = this.form.method
                    let request = {}
                    request.url = this.form.url
                    request.method = this.form.method
                    request.contentType = (method == 'POST' || method == 'PUT' || method == 'PATCH') ? this.form.contentType : ''
                    if (this.form.bodyInputType == 'input') {
                        request.body = {}
                        this.form.bodyInputs.filter(p => p.name != '').forEach(p => {
                            request.body[p.name] = p.value
                        })
                    } else {
                        request.body = this.form.bodyText
                    }
                    request.cookie = {}
                    this.form.cookieInputs.filter(p => p.name != '').forEach(p => {
                        request.cookie[p.name] = p.value
                    })
                    request.header = {}
                    this.form.headerInputs.filter(p => p.name != '').forEach(p => {
                        request.header[p.name] = p.value
                    })
                    return request
                },
                send(request) {
                    fetch('api.php', {
                        body: JSON.stringify(request),
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(rs => {
                        rs.json().then(json => {
                            this.response.body = json.body
                            this.response.header = json.header
                            this.response.cookie = json.cookie
                            this.$notify.success('Request Compelete')
                            let isJson = json.header['Content-Type'].indexOf('application/json') !== -1
                            let showRsBody = isJson ? JSON.stringify(json.body, '', 2) : json.body
                            let showRsHeader = JSON.stringify(json.header, '', 2)
                            let showRsCookie = JSON.stringify(json.cookie, '', 2)
                            let fillRs = (id, content, isJson) => {
                                let code = document.createElement('code')
                                code.className = isJson ? 'lang-json' : 'lang-html'
                                code.innerHTML = content.replace(/[<>&"]/g, function(c) {
                                    return {
                                        '<': '&lt;',
                                        '>': '&gt;',
                                        '&': '&amp;',
                                        '"': '&quot;'
                                    }[c]
                                })
                                let pre = document.createElement('pre')
                                pre.appendChild(code)
                                let e = document.querySelector('#' + id)
                                e.innerHTML = ''
                                e.appendChild(pre)
                            }
                            fillRs('rs-show-body', showRsBody, isJson)
                            fillRs('rs-show-header', showRsHeader, true)
                            fillRs('rs-show-cookie', showRsCookie, true)
                            hljs.highlightAll()
                        }).catch(e => {
                            console.log(e)
                            this.$notify.error('Request Fail')
                        })
                    }).catch(() => {
                        this.$notify.error('Request Fail')
                    })
                },
                addBodyInput(index, name) {
                    let hasEmpty = this.form.bodyInputs.find(p => !p.name && !p.value)
                    if (!hasEmpty) {
                        this.form.bodyInputs.push({
                            name: '',
                            value: '',
                        })
                    }
                },
                addHeaderInput(index, name) {
                    let hasEmpty = this.form.headerInputs.find(p => !p.name && !p.value)
                    if (!hasEmpty) {
                        this.form.headerInputs.push({
                            name: '',
                            value: '',
                        })
                    }
                },
                addCookieInput(index, name) {
                    let hasEmpty = this.form.cookieInputs.find(p => !p.name && !p.value)
                    if (!hasEmpty) {
                        this.form.cookieInputs.push({
                            name: '',
                            value: '',
                        })
                    }
                }
            }
        })
    </script>
</body>

</html>